<h1>タスク詳細</h1>
<p>
  <strong>【タイトル】</strong>
  <%= @task.title %>
</p>

<p>
  <strong>【内容】</strong>
  <%= @task.body %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '削除', task_path, method: :delete, data: { confirm: '削除してもよかですか?' } %>|
<%= link_to '戻る', tasks_path %>
